#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define COLEMAK 0
#define SYMBOLS 1
#define NUMBERS_AND_FUNCTIONS 2
#define QWERTY 3
#define BLUETOOTH 4

// Hyper key = holding all modifiers

#define HYP LC(LA(LS(LGUI)))

&lt {
    quick_tap_ms = <200>;
};

&mt {
    quick_tap_ms = <200>;
};

/ {
    chosen {
        zmk,matrix_transform = &extra_keys_transform;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_toggle_layout_r {
            timeout-ms = <50>;
            key-positions = <41 42>;
            bindings = <&tog COLEMAK>;
            layers = <COLEMAK QWERTY>;
        };

        combo_toggle_layout_l {
            timeout-ms = <50>;
            key-positions = <39 40>;
            bindings = <&tog QWERTY>;
            layers = <COLEMAK QWERTY>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        colemak {
            bindings = <
&sl BLUETOOTH  &none  &kp Q  &kp W       &kp F                   &kp P        &kp B         &kp J      &kp L         &kp U                   &kp Y       &kp SEMI  &none  &sl BLUETOOTH
               &none  &kp A  &mt LALT R  &mt LS(LA(LC(LGUI))) S  &mt LMETA T  &kp G         &kp M      &mt LMETA N   &mt RS(RA(RC(RGUI))) E  &mt LALT I  &kp O     &none
               &none  &kp X  &kp C       &kp D                   &kp V        &kp Z         &kp K      &kp H         &kp COMMA               &kp PERIOD  &kp FSLH  &none
                                         &kp RET                 &kp SPACE    &kp LSHIFT    &kp LCTRL  &tog SYMBOLS  &kp DEL
            >;
        };

        symbols {
            bindings = <
&none  &none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none  &none
       &none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
       &none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                            &none  &none  &none    &none  &none  &none
            >;
        };

        numbers_and_functions {
            bindings = <
&none  &none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none  &none
       &none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
       &none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                            &none  &none  &none    &none  &none  &none
            >;
        };

        // TODO: add quotes for russian

        qwerty {
            bindings = <
&sl BLUETOOTH  &kp BSLH   &kp Q  &kp W       &kp E      &kp R        &kp T         &kp Y      &kp U         &kp I      &kp O       &kp P     &kp LBKT  &kp RBKT
               &kp MINUS  &kp A  &mt LALT S  &mt HYP D  &mt LMETA F  &kp G         &kp H      &mt LMETA J   &mt HYP K  &mt LALT L  &kp SEMI  &kp SQT
               &kp EQUAL  &kp Z  &kp X       &kp C      &kp V        &kp B         &kp N      &kp H         &kp COMMA  &kp PERIOD  &kp FSLH  &kp EXCL
                                             &kp RET    &kp SPACE    &kp LSHIFT    &kp LCTRL  &tog SYMBOLS  &kp DEL
            >;
        };

        bluetooth {
            bindings = <
&none  &bootloader  &sys_reset    &none         &none         &none         &none           &none         &none         &none         &none         &sys_reset    &bootloader  &none
       &bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_CLR
       &none        &none         &none         &none         &none         &none           &none         &none         &none         &none         &none         &none
                                                &trans        &none         &trans          &trans        &none         &trans
            >;
        };
    };
};
